{% block entity_typeahead_widget %}
    {% set main_full_name, main_id, main_value, main_attr = full_name, id, value, attr %}

    {# create visible autocomplete input #}
    {% set id = main_id ~ '_text' %}
    {% set full_name = null %}
    {% set value = multiple ? empty_value : attribute(form.vars.data, render)|default(main_value) %}
    {% set attr = attr|merge({
        'autocomplete': 'off',
        'data-provide': 'lifo-typeahead',
        'data-multiple': multiple ? 'true' : 'false',
        'data-property': property,
        'data-render': render,
        'data-items': items|default(8),
        'data-minlength': minLength|default(2),
        'data-resetonselect': resetOnSelect ? 'true' : 'false',
        'data-spinner': spinner,
        'data-callback': callback,
        'data-delay': delay,
        'data-source': source,
        'data-route': route,
        'data-route-params': route_params ? route_params|json_encode : '',
        'data-url': url
    }) %}
    {{ block('form_widget_simple') }}

    {# create hidden input to store the currently selected entity ID #}
    {% set attr = main_attr %}
    {% if multiple %}
        {% set child = null %} {# must be set for the block() below #}
        {% set attr = attr|merge({'data-prototype': block('entity_typeahead_list_widget') }) %}
        {% set id, full_name, value = main_id, '', '' %}
    {% else %}
        {% set id, full_name, value = main_id, main_full_name, main_value %}
    {% endif %}
    {{ block('hidden_widget') }}

    {# If multiple entities are allowed display current entities as a list #}
    {% if multiple %}
        {% set id, full_name = main_id, main_full_name %}
        {{ block('entity_typeahead_multiple_widget') }}
    {% endif %}
{% endblock %}

{% block entity_typeahead_multiple_widget %}
    <ul id="{{ id }}_list" class="lifo-typeahead-list" {% if 'input_group' in attr and attr.input_group is not empty %}style="display:none"{% endif %}>
    {% for child in form.vars.data %}
        {% if child is not null %}
            {{ block('entity_typeahead_list_widget') }}
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}

{% block entity_typeahead_list_widget %}
    {% if simple %}
        {% set _id, _value, _render = child, child, child %}
    {% else %}
        {% set _id, _value, _render = child.id, attribute(child, property ?: 'id'), attribute(child, render) %}
    {% endif %}
    <li{% if child is not null %} data-value="{{ _id }}"{% endif %}>
        <input{% if child is not null %} id="{{ id ~ '_' ~ _id }}" name="{{ full_name }}[]" value="{{ _value }}"{% endif %} type="hidden" />
        <a href="" class="lifo-typeahead-item" title="{{ "Click to remove"|trans }}">{{ child is not null ? _render : '' }}</a>
    </li>
{% endblock %}
